{% extends "base.html" %}
{% block content %}
<table class="table">
    <tr>
        <thead class="thead-light">

            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date</th>
                <th>Time</th>
                <th>People</th>
                <th>Message</th>
            </tr>
                </thead>
                <tbody>
                
                {% for tablebook in tablebooks%}
                <tr>
                        
                    <td>{{tablebook.Name}}</td>
                    <td>{{tablebook.Email}}</td>
                    <td>{{tablebook.Phone}}</td>
                    <td>{{tablebook.Date}}</td>
                    <td>{{tablebook.Time}}</td>
                    <td>{{tablebook.People}}</td>
                    <td>{{tablebook.Message}}</td>
                </tr>
            
                {% endfor %}

                </tbody>

            </table>
            
{% endblock %}


